Source: python-vobject
Section: python
Priority: optional
Maintainer: Guido Guenther <agx@sigxcpu.org>
Build-Depends: cdbs, debhelper (>= 5), python-dev, python-support (>= 0.3), python-dateutil, python-setuptools, quilt
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/calendarserver/python-vobject.git
Vcs-Browser: http://git.debian.org/?p=calendarserver/python-vobject.git

Package: python-vobject
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-dateutil (>= 1.1)
Description: parse iCalendar and VCards in Python
 Parses iCalendar and vCard files into Python data structures, decoding the
 relevant encodings. Also serializes vobject data structures to valid iCalendar
 or vCard unicode strings.
